html {
  font-size: 16px;
  /*line-height: 1.2;*/
}

body {
  font-family: 'Ubuntu Mono', monospace;
  display: block;
  color:rgba(60,60,60,0.95);
  /*color:rgba(210,210,210,0.8);*/
}

/*serif fonts*/
.seriftext {
  font-family: 'Bree Serif', serif;
}

/*large pictures*/
.pic {
  width: 60%;
  padding: 2rem 1.5rem;
}

/*medium size background pictures*/


/*small pictures*/
.pic.small {
    width: 35%;
}

img.big, .pic.small img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 25px;
}


/*---------------Text & text-headers---------------*/

/*text containers*/
.container {
  padding: 0.75rem 0rem;
}

.container.small {
  padding: 0.5rem 0rem;
}
h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color:rgba(0,127,255,0.95);
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
    color:rgba(60,60,60,0.95);
    transition: color 0.3s ease-in;
}
/*--------------------Header---------------------*/
header {
  display: flex;
  z-index: 10;
  width: 100%;
  position: fixed;
  height: 4rem;
}

header .container.head {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: rgba(255,255,255,0.8);
  align-items: center;
}

header .container.logo {
  display: inline-flex;
  height: 2rem;
  font-size: 1.5rem;
  padding:0rem;
  align-items: center;
}

header .container.nav {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  padding:0rem;
}

header ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header ul li {
  margin-left: 16px;
}

header .container.logo p {
  font-weight: 900;
}
header .container.logo p span{
  color:rgba(150,150,150,0.9);
}
/*------------------------------------------------------*/

/*-----------------banner------------------------------*/
.banner {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  background-color: rgba(100,170,255,0.5);
}

.banner .text.A {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner .btn {
  padding: 0.5rem 0rem;
  background-color: rgba(60,60,60,0.95);
  text-align: center;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0,127,255,0.95);
  transition: background-color 0.2s ease-in 0.2s;
}

.banner .btn a {
  color: white;
  font-size: 2rem;
}

/*------------------the info board----------*/
.info {
  width: 100%;
  background-color: rgba(100,170,255,0.45);
  display: flex;
  padding: 2rem 0rem;
}

.info .desktop {
  flex-wrap: wrap;
  width: 60%;
  padding: 0rem 1.5rem;
}

.info .desktop .pic.B {
  width: 100%;
  padding: 0rem;
}
.info .desktop h1.seriftext {
  padding-top: 1.25rem;
}

p.signature{
  padding-top: 2rem;
  font-weight: bold;
}

.info .infotabs {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info .infotabs .tab {
  display: flex;
  width: 100%;
}

.info .infotabs .tab.A, .info .infotabs .tab.A img, .pic.small.A {
  padding-top: 0rem;
}

.info .infotabs .tab.C {
  background-color: rgba(100,170,255,0.2);
  border-radius: 5px;
}

.info .infotabs .tab img {
  width: 100%;
  padding: 1rem;
}

.info .infotabs .tab .tabtext {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/*-----------------the learning board--------------*/
.learning {
  display: flex;
  padding: 2rem 3rem;
  background-color: rgba(100,170,255,0.5);
  flex-direction: column;
}
.learning .desktop {
  width: 100%;
}
.headline {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.grid {
  width: 100%;
  background-color: rgba(100,170,255,0.1);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.row {
  display: flex;
}

.tcontainer{
  padding: 1rem;
}

.tcontainer:hover {
  opacity: 0.3;
  transition: opacity 0.1s ease-in;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.textbox {
    padding: 1rem;
}

.tcontainer h3.seriftext {
  padding: 0.5rem 0rem;
}
