html {
  font-size: 16px;
  /*line-height: 1.2;*/
}

body {
  font-family: 'Ubuntu Mono', monospace;
  display: block;
  color:rgba(60,60,60,0.95);
  /*color:rgba(210,210,210,0.8);*/
}

/*serif fonts*/
.seriftext {
  font-family: 'Bree Serif', serif;
}

/*large pictures*/
.pic {
  width: 60%;
  padding: 2rem 1.5rem;
}

/*medium size background pictures*/


/*small pictures*/
.picsmall {
    width: 35%;
    padding: 1rem;
}

img.big, .picsmall img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
}


/*---------------Text & text-headers---------------*/

/*text containers*/
.container {
  padding: 0.75rem 0rem;
}

.container.small {
  padding: 0.5rem 0rem;
}
h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color:rgba(0,127,255,0.95);
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
    color:rgba(60,60,60,0.95);
    transition: color 0.3s ease-in;
}
/*------------Header & footer --------------------*/
header, footer {
  display: flex;
  z-index: 10;
  width: 100%;
}

header {
  position: fixed;
  height: 4rem;
}

footer {
  height: 6rem;
}

footer .desktop {
  width: 100%;
}

header .container.head, footer .container.head {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: rgba(255,255,255,0.8);
}

header .container.head, header .container.logo  {
  align-items: center;
}


header .container.logo, footer .container.logo {
  width: 100%;
  display: inline-flex;
  height: 2rem;
  font-size: 1.5rem;
  padding:0rem;
}

header .container.nav, footer .container.nav {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  padding:0rem;
}

header ul, footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header ul li, footer ul li {
  margin-left: 16px;
}

header .container.logo p, footer .container.logo p {
  font-weight: 900;
}
header .container.logo p span{
  color:rgba(150,150,150,0.9);
}
/*------------------------------------------------------*/

/*-----------------banner------------------------------*/
.banner {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  background-color: rgba(100,170,255,0.5);
}

.banner .text.A {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner .btn {
  padding: 0.5rem 0rem;
  background-color: rgba(60,60,60,0.95);
  text-align: center;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0,127,255,0.95);
  transition: background-color 0.2s ease-in 0.2s;
}

.banner .btn a {
  color: white;
  font-size: 2rem;
}

/*------------------the info board----------*/
.info {
  width: 100%;
  background-color: rgba(100,170,255,0.45);
  display: flex;
  padding: 1rem 0rem;
}

.info .desktop {
  flex-wrap: wrap;
  width: 60%;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

.info .desktop .pic.B {
  width: 100%;
  padding: 0rem;
}
.info .desktop h1.seriftext {
  padding-top: 1.25rem;
}

p.signature{
  padding-top: 2rem;
  font-weight: bold;
}

.info img.desktop {
  padding: 0rem;
}

/*-----------------All small picture tabs related--------*/
.infotabs {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infotabs .tab {
  display: flex;
  width: 100%;
}

.infotabs .tab.C, .infotabs .tab.D {
  background-color: rgba(100,170,255,0.2);
  border-radius: 10px;
}

.infotabs .tab img {
  width: 100%;
}

.infotabs .tab .tabtext {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/*-----------------the learning board--------------*/
.learning {
  display: flex;
  padding: 2rem 4.5rem;
  background-color: rgba(100,170,255,0.5);
  flex-direction: column;
}
.learning .desktop {
  width: 100%;
}
.headline {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.grid {
  width: 100%;
  background-color: rgba(100,170,255,0.1);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.row {
  display: flex;
}

.tcontainer{
  padding: 1rem;
}
.tcontainer.A, .tcontainer.B, .tcontainer.C {
  padding-top: 0rem;
}

.tcontainer.C, .tcontainer.F {
  padding-right: 0rem;
}

.tcontainer.D, .tcontainer.E, .tcontainer.F {
  padding-bottom: 0rem;
}

.tcontainer.A, .tcontainer.D {
  padding-left: 0rem;
}

.tcontainer:hover {
  opacity: 0.3;
  transition: opacity 0.1s ease-in;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.textbox {
    padding: 1rem;
}

.tcontainer h3.seriftext {
  padding: 0.5rem 0rem;
}

/*----------------Thesis section-----------------------*/
.thesis {
    display: flex;
    padding: 2rem 0rem 2rem 1.5rem;
    background-color: rgba(100,170,255,0.35);
    flex-direction: column;
}

.thesis .desktop {
  width: 100%;
  display: flex;
}

.thesis .desktop .maincontainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}

.thesis .desktop .maincontainer .video{
  border-radius: 25px;
  overflow: hidden;
}

.thesis .desktop .maincontainer video{
  width: 100%;
  height: auto;
}

.text.C {
  padding-top: 1rem;
}
.text.C .container {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}
